/* UNIVERSAL STYLE */

@font-face {
  font-family: half-bold-pixel-7;
  src: url(fonts/half_bold_pixel-7.ttf);
}

body {
  font-family: half-bold-pixel-7;
  color: #ddd;
}

hr {
  background-color: #ddd;
}

/* INDEX STYLE */

#index {
  background-image: url("../images/bg-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#login {
  margin-top: 200px;
}

#loginModal {
  color: #222;
  white-space: pre;
}

/* CLASSROOM STYLE */

#classroom {
  background-image: url("../images/bg-bricks.gif");
}

.sidebar {
  height: 100vh;
  background-color: #222;
  border: 1px solid #ddd;
  padding: 25px 0;
}

.game-screen {
  background-image: url("../images/bg-classroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
}

.jumbotron {
  margin-top: 10%;
  margin-bottom:30%;
  max-height: 30%;
  margin-left:5%;
  margin-right:5%;
  background: none;
}

.btn {
  margin: 1%;
  white-space: normal;
  font-size: 1em;
}

.question {
  min-height:50px;
  font-size: 2em;
}

#youtube {
  background-image: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 100px;
  background-position: center;
}

#vsc {
background-image: url("../images/vsc.png");
background-repeat: no-repeat;
background-size: contain;
height: 60px;
width: 100px;
}
/* SCOREBOARD STYLE */
#scoreboard {
  font-family: half-bold-pixel-7;
  color: #ddd;
  background-color: black;
  background-image: url("../images/bg-scoreboard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#sb-container {
  align-content: center;
  margin-top: 45px;
}

#subtitles {
  margin-top: 15px;
}




#scoreboard-body {
  background-image: url("../images/bg-scoreboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#gameover {
  margin-top: 100px;
}

#scoreboard {
  margin-top: 25px;
}